# START OPENVPN RULES
# NAT table rules
*nat
:POSTROUTING ACCEPT [0:0] 
# Allow traffic from OpenVPN client to interface
-A POSTROUTING -s 10.8.0.0/8 -o {{ default_interface }} -j MASQUERADE
COMMIT
# END OPENVPN RULES
